body, button, input, select, textarea, h1, h2, h3, h4, h5, h6, p, a, span, div, nav {
    font-family: 'Arial', sans-serif
}

body {
    background-color: #f8f8f8;
    padding: 30px;
    color: #333;
}

h1, h2 {
    text-align: center;
    color: #2c3e50;
}

.menu {
    text-align: center;
    margin-bottom: 30px;
}

.menu a {
    margin: 0 15px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
}

.menu a:hover {
    background-color: #2980b9;
}

.filtros {
    text-align: center;
    margin-bottom: 20px;
}

.filtros button {
    margin: 10px 15px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filtros button:hover {
    background-color: #2980b9;
}

.produtos {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.produto {
    background: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
    width: 200px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}

.produto img {
    width: 100%;
    cursor: pointer;
    transition: transform 0.2s;
}

.zoom-img:hover {
    transform: scale(1.05);
}

.disponivel {
    color: green;
}

.indisponivel {
    color: red;
}

.logo {
    text-align: center;
    margin-bottom: 30px;
}

.logo img {
    width: 200px;
    height: auto;

    .produto.indisponivel img {
    filter: grayscale(100%);
    opacity: 0.6;
    pointer-events: none;
}
}